Html(Base Font)
================================================*/
html{/* 16px>10px */
	font-size: 62.5%;
}


/*===============================================
	For SmartPhone and All
===============================================*/


body, html, main {
	/* important */
	height: 100%;
}


.cd-fixed-bg.cd-bg-1 {
	background-size: contain;
	background-attachment: fixed;
	background-repeat: no-repeat;
	/* background-position: center; */
	background-image: url("../img/cd-background-1.jpg");
}


h1{
	font-family: 'Amatic SC', cursive;
	font-size: 4em;
	margin: 500px 100px 0;
}

h2{
	font-family: 'Amatic SC', cursive;
	font-size: 3em;
	margin: 50px 50px 0;
}

a{
	background: linear-gradient(transparent 60%, rgb(255, 224, 241) 60%);
	text-decoration: none;
}

img{
	object-fit: cover;
	width: 100%;
	text-align: center;
}

a:link {
  color:rgb(255, 78, 78);
}

a:visited {
  color:red;
}

a:hover {
  color: #cccccc;
}

a:active {
 color: #666666;
}

.container {
		margin: 0px 200px;
		justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr;
    grid-column-gap: 20px;
		grid-row-gap: 20px;
		grid-template-columns: repeat(auto-fill, 250px);
    /* justify-items: stretch; */
    align-items: stretch;
}
 
.content_block {
	background: white;
	width: 250px;
	height: 200px
}

footer{
	text-align:center;
}


/*===============================================
	For PC
===============================================*/
@media screen and (min-width: 960px){
	h1{
		font-size: 5em;
	}

	h2{
		font-family: 'Amatic SC', cursive;
		font-size: 3em;
		margin: 200px 100px 0;
}